/*
App.css
---------------

par Dorian PELLETIER
*/

* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	background: url("./images/haltere.png") repeat;
	background-color: #e7f3fa;
}

strong {
	font-size: 1em;
	font-style: bold;
}

article em {
	color: #1f1f1f;
	text-align: justify;
}

p {
	font-size: 1em;
}

h1 {
	font-family: "Arial Narrow Bold", sans-serif, sans-serif;
	text-shadow: 1px 1px 40px darkgray;
	background-color: rgba(0, 0, 0, 0.85);
	box-shadow: 4px 4px 5px darkgray;
	border-radius: 10px;
	padding: 20px 0px 20px 2px;
	/* haut droite bas gauche */
	color: orangered;
	text-align: center;
	font-size: 4em;
}

h2 {
	text-align: center;
	font-size: 2em;
}

h3 {
	background-color: #f77031c9;
	box-shadow: 4px 4px 5px darkgray;
	border-radius: 10px;
	padding: 5px 0px 5px 0px;
	/* haut droite bas gauche */
	text-align: center;
	text-decoration: none;
	font-size: 1.5em;
}

h3 a:visited,
h3 a:visited,
h3 a:link,
h3 a:active {
	text-decoration: none;
}

h4 {
	color: rgb(255, 102, 0);
	text-shadow: 2px 2px 5px black;
	font-size: 1.2em;
}

h5 {
	font-size: 1em;
}

article {
	background-color: #616161c5;
	box-shadow: 4px 4px 5px darkgray;
	border-radius: 10px;
	padding: 0px 10px 10px 10px;
	/* haut droite bas gauche */
	overflow: auto;
	/* l'article se poursuit jusqu'à la fin de l'image */
	margin-bottom: 10px;
}

footer {
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.85);
	box-shadow: 4px 4px 5px darkgray;
	border-radius: 10px;
	padding: 1px 0px 1px 0px;
	/* haut droite bas gauche */
}

#frequencyChoose {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

#programComfirm {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

.button_false,
.button_true {
	max-width: 20%;
	justify-content: center;
	font-size: 1em;
	flex: 1 1;
	background-color: silver;
	border-radius: 10px;
	padding: 20px 0 20px 0;
	margin-right: 10px;
	display: flex;
}

.button_true {
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.582);
}
