/*
App.css
---------------

par Dorian PELLETIER
*/

* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	background: url("./images/haltere.png") repeat;
	background-color: #e7f3fa;
}

strong {
	font-size: 1em;
	font-style: bold;
}

article em {
	color: #1f1f1f;
	text-align: justify;
}

p {
	font-size: 1em;
}

header > h1 {
	font-family: "Arial Narrow Bold", sans-serif, sans-serif;
	text-shadow: 5px 1px 5px rgb(0, 0, 0);
	background-color: rgb(51, 51, 51);
	padding: 20px 0px 20px 2px;
	/* haut droite bas gauche */
	margin-top: 0;
	margin-bottom: 0;
	color: orangered;
	text-align: center;
	font-size: 4em;
}

header > h2 {
	text-align: center;
	background-color: #222222;
	box-shadow: 4px 4px 5px darkgray;
	color: silver;
	font-size: 2em;
	margin-top: 0;
	margin-bottom: 0;
	padding: 10px;
}

nav {
	background-color: #f77031c9;
	box-shadow: 4px 4px 5px darkgray;
	padding: 1px 0px 1px 0px;
	/* haut droite bas gauche */
	text-align: center;
	font-size: 1.3em;
}

h4 {
	color: rgb(255, 102, 0);
	text-shadow: 2px 2px 5px black;
	font-size: 1.2em;
}

h5 {
	font-size: 1em;
}

article {
	background-color: #616161c5;
	padding: 30px 10px 50px 10px;
	/* haut droite bas gauche */
	overflow: auto;
	/* l'article se poursuit jusqu'à la fin de l'image */
}

footer {
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.85);
	box-shadow: 4px 4px 5px darkgray;
	padding: 1px 0px 1px 0px;
	/* haut droite bas gauche */
}

#frequencyChoose {
	animation: fadeIn 2s ease 0.5s forwards;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

#programComfirm {
	animation: fadeIn 2s ease 0.5s forwards;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

.button_false,
.button_true {
	max-width: 20%;
	justify-content: center;
	font-size: 1em;
	flex: 1 1;
	background-color: silver;
	border-radius: 10px;
	padding: 20px 0 20px 0;
	margin-right: 10px;
	display: flex;
}

.button_true {
	box-shadow: inset 8px 8px 5px rgba(0, 0, 0, 0.582);
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
	0% {
		box-shadow: inset 8px 8px 5px rgba(0, 0, 0, 0);
	}
	100% {
		box-shadow: inset 8px 8px 5px rgba(0, 0, 0, 0.582);
	}
}

.center {
	text-align: center;
}

#fullbody {
	display: flex;
	flex-direction: row;
}

#fullbody_A,
#fullbody_B {
	min-width: 45%;
	max-width: 45%;
	padding: 10px;
	padding-bottom: 30px;
	margin-right: 10px;
	margin-bottom: 20px;
	border: solid;
	border-color: rgba(0, 0, 0, 0.85);
	background-color: darkgrey;
}

.select {
	width: 300px;
}

#exercicesComfirm {
	animation: fadeIn 2s ease 0.5s forwards;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

table {
	border-collapse: collapse;
}

td {
	border: 1px solid black;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	padding: 10px;
}
