#fullbody {
	display: flex;
	flex-direction: row;
}

#fullbody_A,
#fullbody_B {
	min-width: 45%;
	max-width: 45%;
	padding: 10px;
	padding-bottom: 30px;
	margin: 10px;
	border: solid;
	border-color: rgba(0, 0, 0, 0.85);
	background-color: darkgrey;
}

.select {
	width: 300px;
}
